<h4>Formularios <small> template </small></h4>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(forma)" #forma="ngForm">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Nombre"
               name="nombre"
               minlength="5"
               ngModel
               [class.is-invalid]="nombre.invalid && nombre.touched"
               #nombre="ngModel"
               required>
        <small class="form-text text-danger" *ngIf="nombre.invalid && nombre.touched">Debe tener al menos 5 carácteres</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input class="form-control"
               type="text"
               placeholder="Apellido"
               name="apellido"
               ngModel
               [class.is-invalid]="apellido.invalid && apellido.touched"
               #apellido="ngModel"
               minlength="5"
               required>
        <small class="form-text text-danger" *ngIf="apellido.invalid && apellido.touched">Debe tener al menos 5 carácteres</small>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             name="correo"
             ngModel
             [class.invalid]="correo.invalid && correo.touched"
             #correo="ngModel"
             minlength="5"
             required>
        <small class="form-text text-danger" *ngIf="correo.invalid && correo.touched">Debe tener al menos 5 carácteres</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">
        <select name="pais" 
                class="form-control" 
                required 
                [ngModel]="usuario.pais" 
                [disabled]="paises.length===0"
                #pais="ngModel">
            <option *ngFor="let pais of paises" [value]="pais.alpha3Code">{{pais.name}}</option>
        </select>
        <small class="form-text text-danger" *ngIf="pais.invalid && correo.touched">Elige bien el país</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-8">
      <div class="form-check form-check-inline">
        <input class="form-check-input"
                type="radio"
                name="genero"
                value="M"
                required
                ngModel
                #genero="ngModel" />
        <label class="form-check-label">Masculino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
                type="radio"
                name="genero"
                value="F"
                required
                ngModel
                #genero="ngModel" />
        <label class="form-check-label">Femenino</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input"
                type="radio"
                name="genero"
                value="O"
                required
                ngModel
                #genero="ngModel" />
        <label class="form-check-label">Otro</label>
      </div>
      <small *ngIf="genero.invalid && genero.touched" class="form-text text-danger">
        Se debe seleccionar un género
      </small>
    </div>
  </div>
  
  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>